
body {
    background-image: url("1.jfif");
    background-size: 700px 600px;
}


#header {
    color: #247BA0;
    text-align: center;
    font-size: 15px;
}

#nav {
    background-color: darkblue;
    padding: 5px;
}

ul {
    list-style-type: none;
}

li a {
    color: white;
    font-size: 30px;
    column-width: 5%;
}

li {
    display: inline;
    padding-left: 2px;
    column-width: 10px;
}

a {
    text-decoration: none;
    margin-left: 20px
}

li a:hover {
    background-color: #F3FFBD;
    color: #FF1654;
    padding: 1%;
}

#side {
    text-align: center;
    float: right;
    width: 15%;
    padding-bottom: 79%;
    background-color: gray;
}

#article {
    background-color: #EEF5DB;
    padding: 10px;
    padding-bottom: 75%;
}


#con {
    border: double;
    border-color: burlywood;
}
